@import 'base';

.introduction{
    height: $full-height;
    width: $full-width;
    display: flex;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
}